<h2>Dashboard</h2>
<div class="card mt-3">
    <div class="card-body">
        <h3>Categorias:</h3>
        <a href="/admin/categories" class="d-block">Ver Categorias</a>
        <a href="/admin/categories/add" class="d-block">Adicionar Nova Categoria</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h3>Postagens:</h3>
        <a href="/admin/posts" class="d-block">Ver Postagens</a>
        <a href="/admin/posts/add" class="d-block">Adicionar Nova Postagem</a>
    </div>
</div>