<div class="col-8">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <small class="d-block text-muted fw-bold">Label: {{post.slug}}</small>
    <small class="d-block text-muted fw-bold">Data de criação: {{post.date}}</small>
</div>