<div class="col-8 p-3">
    <div class="card mx-auto p-3" style="width: 20rem;">
        <div class="card-body">
            <h2 class="mb-4">Login</h2>
            <form action="/users/login" method="POST">
                <label for="email">E-mail: </label>
                <input type="email" required class="form-control mb-3" id="email" name="email">
                <label for="password">Senha: </label>
                <input type="password" class="form-control mb-3" name="password" id="password" required>
                <button type="submit" class="btn btn-success d-block mx-auto">Entrar</button>
            </form>
        </div>
    </div>
</div>